<section class="page-wrapper">
    <!-- =========== STRAT CONTENT PAGE =========== -->
    <div class="content-page">
        <div class="bg-register">
            <div class="container">
                <div class="sign-box py-5">
                    <div class="logo text-center mb-4"><img src="../../../assets/images/logo.png" alt="Logo"
                                                            width="150"></div>
                    <div class="text-center py-3 mb-4">
                        <h6>sign in</h6>
                    </div>
                    <div class="sign-face text-center mb-4" style="padding: 0 3rem;">
                        <span>Sing up Using Facebook</span>
                        <div class="mt-3 mb-3"><a href="#" class="button d-block"><i class="fab fa-facebook-f"></i>
                            Facebook</a></div>
                        <span>or</span>
                    </div>

                    <!-- Start Form -->
                    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="form-row my-0">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <span>Email / PIN</span>
                                    <input type="email"
                                           class="form-control"
                                           [ngClass]="{'is-invalid':email.errors && email.touched}"
                                           id="email"
                                           name="email"
                                           placeholder="example@mail.com or 3212222"
                                           ngModel
                                           #email="ngModel"
                                           required>
                                    <div [hidden]="!email.errors?.required" class="invalid-feedback"> The Email Empty
                                    </div>

                                </div>
                                <div class="form-group">
                                    <span>password</span>
                                    <input type="password"
                                           class="form-control"
                                           [ngClass]="{'is-invalid':password.errors && password.touched}"
                                           id="password"
                                           name="password"
                                           ngModel
                                           #password="ngModel"
                                           required
                                           placeholder="****************">
                                    <div [hidden]="!password.errors?.required" class="invalid-feedback"> The Password is
                                        Empty
                                    </div>
                                </div>
                            </div>

                            <div class="my-3 col-sm-12">
                                <a href="#">Create free account</a>
                                <a href="#" class="float-right">Forget my password</a>
                                <div class="clearfix"></div>
                            </div>
                            <span *ngIf="!loginForm.form.invalid"> kkk </span>
                            <div class="form-group text-center my-0 mt-1" >
                                <button type="submit" class="button" [disabled]="!loginForm.valid">Login</button>
                            </div>
                        </div>
                    </form>
                    <!-- End Form -->
                </div><!-- End Register -->
            </div><!-- End Container -->
        </div>
    </div>
</section>
