<div class="container">
        <!-- Start Intro -->
        <div class="intro text-center" style="margin-top: 3rem">
            <h3>{{"It's always easy to ﬁnd your needs with badr" | translate }}</h3>
        </div>
        <!-- End Intro -->
         <!-- Start Form -->
         <form method="" action="">
             <div class="form-row align-items-center">
                 <div class="col-xl-4 col-sm-12" style="padding-left: 4px;">
                     <div class="form-group">
                         <input type="text" class="form-control one" placeholder="{{'What you are looking for ?' | translate}}" name="" id="">
                     </div>
                 </div>
                 <div class="col-xl-3 col-sm-6">
                     <div class="form-group select">
                         <select class="form-control" name="" id="">
                             <option selected>{{"Select Location" | translate}} </option>
                             <option>Option 2</option>
                             <option>Option 3</option>
                             <option>Option 4</option>
                             <option>Option 5</option>
                         </select>
                         <i class="fas fa-chevron-down fa-fw fa-sm"></i>
                     </div>
                 </div>
                 <div class="col-xl-4 col-sm-6">
                     <div class="form-group select">
                         <select class="form-control" name="" id="">
                             <option selected>{{ "Select Industry" | translate}}</option>
                             <option>Option 2</option>
                             <option>Option 3</option>
                             <option>Option 4</option>
                             <option>Option 5</option>
                         </select>
                         <i class="fas fa-chevron-down fa-fw fa-sm"></i>
                     </div>
                 </div>
                 <div class="col-xl-1 col-sm-12 my-1" style="padding-right: 0;">
                     <div class="form-group">
                         <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> {{"Find" | translate}}</button>
                     </div>
                 </div>
             </div>
         </form>
         <!-- End Form -->

         <div class="home-content">
             <div class="featured-industries">
                 <div class="panel px-3">
                     <h6 class="main-title">{{"Featured Industries" | translate}}</h6>
                     <div class="cateogeris-links py-2">
                         <a href="#" class="button">Construction</a>
                         <a href="#" class="button">Oil & Gas</a>
                         <a href="#" class="button">Electrical Equipment's</a>
                         <a href="#" class="button">Security Equipments</a>
                         <a href="#" class="button">Cleaning Services</a>
                         <a href="#" class="button">Pipes</a>
                         <a href="#" class="button">Building Materials Suppliers</a>
                         <a href="#" class="button">Architects & Contractors</a>
                         <a href="#" class="button">Power Tools</a>
                         <a href="#" class="button">Plastic Products</a>
                         <a href="#" class="button">Building Energy Systems</a>
                     </div><!-- End C-Links -->
                 </div>
             </div><!-- End featured-industries -->
             
             <div class="featured-copmanies">
                <h6 class="main-title">{{"Featured Companies"| translate}}</h6>
                <div class="row">
                  <div class="col-xl-3 col-sm-6">
                    <div class="box-company">
                        <div class="panel">
                            <div class="description px-3 py-3">
                                <h6>Sentinel Constructions</h6>
                                <small>Build and constriction</small>
                            </div>
                            <div class="company text-center py-4">
                                <img src="assets/images/images-15.jpeg" alt="Image" class="rounded-circle">
                                <div>
                                    <a href="#">company@gmail.com</a>
                                    <span>+971505001234</span>
                                </div>
                            </div>
                            <div class="button-company">
                               <div class="row">
                                   <a href="#" class="col button text-center"><i class="far fa-envelope"></i>{{"View Proﬁle"| translate}} </a>
                                   <a href="#" class="col button text-center"><i class="far fa-money-bill-alt"></i> {{"Request Quote"| translate}} </a>
                               </div>
                            </div>
                        </div>
                    </div>  
                  </div><!-- Col #1 --> 
                  <div class="col-xl-3 col-sm-6">
                    <div class="box-company">
                        <div class="panel">
                            <div class="description px-3 py-3">
                                <h6>{{"Heaton Constructions"| translate}}</h6>
                                <small>{{"Build and constriction" | translate}}</small>
                            </div>
                            <div class="company text-center py-4">
                                <img src="assets/images/images-17.jpeg" alt="Image" class="rounded-circle">
                                <div>
                                    <a href="#">company@gmail.com</a>
                                    <span>+971505001234</span>
                                </div>
                            </div>
                            <div class="button-company">
                               <div class="row">
                                   <a href="#" class="col button text-center"><i class="far fa-envelope"></i> {{"View Proﬁle"| translate}}</a>
                                   <a href="#" class="col button text-center"><i class="far fa-money-bill-alt"></i> Request Quote</a>
                               </div>
                            </div>
                        </div>
                    </div>  
                  </div><!-- Col #2 --> 
                  <div class="col-xl-3 col-sm-6">
                    <div class="box-company">
                        <div class="panel">
                            <div class="description px-3 py-3">
                                <h6>Canopy Constructions</h6>
                                <small>Build and constriction</small>
                            </div>
                            <div class="company text-center py-4">
                                <img src="assets/images/images-18.jpeg" alt="Image" class="rounded-circle">
                                <div>
                                    <a href="#">company@gmail.com</a>
                                    <span>+971505001234</span>
                                </div>
                            </div>
                            <div class="button-company">
                               <div class="row">
                                   <a href="#" class="col button text-center"><i class="far fa-envelope"></i> View Proﬁle</a>
                                   <a href="#" class="col button text-center"><i class="far fa-money-bill-alt"></i> Request Quote</a>
                               </div>
                            </div>
                        </div>
                    </div>  
                  </div><!-- Col #3 --> 
                  <div class="col-xl-3 col-sm-6">
                    <div class="box-company">
                        <div class="panel">
                            <div class="description px-3 py-3">
                                <h6>Taurus Constructions</h6>
                                <small>Build and constriction</small>
                            </div>
                            <div class="company text-center py-4">
                                <img src="assets/images/images-21.jpeg" alt="Image" class="rounded-circle">
                                <div>
                                    <a href="#">company@gmail.com</a>
                                    <span>+971505001234</span>
                                </div>
                            </div>
                            <div class="button-company">
                               <div class="row">
                                   <a href="#" class="col button text-center"><i class="far fa-envelope"></i> View Proﬁle</a>
                                   <a href="#" class="col button text-center"><i class="far fa-money-bill-alt"></i> Request Quote</a>
                               </div>
                            </div>
                        </div>
                    </div>  
                  </div><!-- Col #4 --> 
                  <div class="col-xl-3 col-sm-6">
                    <div class="box-company">
                        <div class="panel">
                            <div class="description px-3 py-3">
                                <h6>B Squared Building</h6>
                                <small>Build and constriction</small>
                            </div>
                            <div class="company text-center py-4">
                                <img src="assets/images/images-22.jpeg" alt="Image" class="rounded-circle">
                                <div>
                                    <a href="#">company@gmail.com</a>
                                    <span>+971505001234</span>
                                </div>
                            </div>
                            <div class="button-company">
                               <div class="row">
                                   <a href="#" class="col button text-center"><i class="far fa-envelope"></i> View Proﬁle</a>
                                   <a href="#" class="col button text-center"><i class="far fa-money-bill-alt"></i> Request Quote</a>
                               </div>
                            </div>
                        </div>
                    </div>  
                  </div><!-- Col #5 -->
                  <div class="col-xl-3 col-sm-6">
                    <div class="box-company">
                        <div class="panel">
                            <div class="description px-3 py-3">
                                <h6>Aretesa Constructions</h6>
                                <small>Build and constriction</small>
                            </div>
                            <div class="company text-center py-4">
                                <img src="assets/images/Unknown17.jpeg" alt="Image" class="rounded-circle">
                                <div>
                                    <a href="#">company@gmail.com</a>
                                    <span>+971505001234</span>
                                </div>
                            </div>
                            <div class="button-company">
                               <div class="row">
                                   <a href="#" class="col button text-center"><i class="far fa-envelope"></i> View Proﬁle</a>
                                   <a href="#" class="col button text-center"><i class="far fa-money-bill-alt"></i> Request Quote</a>
                               </div>
                            </div>
                        </div>
                    </div>  
                  </div><!-- Col #6 -->
                  <div class="col-xl-3 col-sm-6">
                    <div class="box-company">
                        <div class="panel">
                            <div class="description px-3 py-3">
                                <h6>CMR Constructions</h6>
                                <small>Build and constriction</small>
                            </div>
                            <div class="company text-center py-4">
                                <img src="assets/images/images27.jpeg" alt="Image" class="rounded-circle">
                                <div>
                                    <a href="#">company@gmail.com</a>
                                    <span>+971505001234</span>
                                </div>
                            </div>
                            <div class="button-company">
                               <div class="row">
                                   <a href="#" class="col button text-center"><i class="far fa-envelope"></i> View Proﬁle</a>
                                   <a href="#" class="col button text-center"><i class="far fa-money-bill-alt"></i> Request Quote</a>
                               </div>
                            </div>
                        </div>
                    </div>  
                  </div><!-- Col #7 -->
                  <div class="col-xl-3 col-sm-6">
                    <div class="box-company">
                        <div class="panel">
                            <div class="description px-3 py-3">
                                <h6>Build Dubai Consultancy</h6>
                                <small>Build and constriction</small>
                            </div>
                            <div class="company text-center py-4">
                                <img src="assets/images/00b227d908fbd3bda6c9f785a5509239.jpg" alt="Image" class="rounded-circle">
                                <div>
                                    <a href="#">company@gmail.com</a>
                                    <span>+971505001234</span>
                                </div>
                            </div>
                            <div class="button-company">
                               <div class="row">
                                   <a href="#" class="col button text-center"><i class="far fa-envelope"></i> View Proﬁle</a>
                                   <a href="#" class="col button text-center"><i class="far fa-money-bill-alt"></i> Request Quote</a>
                               </div>
                            </div>
                        </div>
                    </div>  
                  </div><!-- Col #8 -->
                  
                </div><!-- Row -->
                
                <div class="text-center my-5" style="margin-bottom: 0 !important;">
                    <a href="#" class="button btn-border">{{"Browse All" | translate}}<i class="fas fa-chevron-down f-afw fa-sm"></i></a>
                </div>
             </div><!-- End featured-copmanies -->
             
             <!-- Start Register -->
             <div class="register py-5 px-4">
                 <div class="row">
                     <div class="col-sm-6">
                         <h4 class="my-0">{{"Start Listing your Business Now" | translate}}</h4>
                     </div>
                     <div class="col-sm-6">
                         <a href="#" class="button">{{"register now" | translate}}</a>
                     </div>
                 </div><!-- Row -->
             </div>
             <!-- End Register -->
             
         </div><!-- End Home Content-->
     </div><!-- End Container -->
